@model DRMS_Models.UserLoginModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<canvas class='connecting-dots' id="experiment"></canvas>
<div class="container">
    <div class="container">
        <div class="wrapper">
            <form action="/User/UserLogin" method="post" name="Login_Form" class="form-signin">
                <h3 class="form-signin-heading">WEB日報管理システム</h3>

                <h4 class="form-signin-heading">ログイン</h4>
                <hr class="colorgraph"><br>

                @Html.TextBoxFor(m => m.member_id, new
                   {
                       @class = "form-control",
                       @type= "password",
                       @tabindex = "1",
                       @id = "txt_Member_ID",
                       @name = "txt_Member_ID",
                       @placeholder = "社員番号",
                       @autofocus = "autofocus",
                       @maxlength = "20",
                   })

                @*<input type="password" class="form-control" name="txt_Member_ID" placeholder="社員番号" required="" />*@

                <button class="btn btn-lg btn-outline-secondary btn-block" name="Submit" value="Login"
                        type="Submit">
                    ログイン
                </button>
                <h5 class="text-right pt-5">@Model.company_name</h5>
            </form>
        </div>
    </div>
</div>
@section Scripts
{
    <script type='text/javascript'>
    $(document).ready(function () {
        if ('@ViewBag.NotExistUser' == "True") {
            alert("入力内容を確認してください")
            $("#txt_Member_ID").val("");
        }
        $(".form-signin").submit(function (e) {
            
            if ($("#txt_Member_ID").val() == "") {
                alert("入力内容を確認してください");
                $("#txt_Member_ID").focus();
                e.preventDefault();
                return false;
            }
        });
    });
    </script>
}



